* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.op-7 {
    opacity: 0.7;
}

.bg-blue {
    background-color: #1b4b9e !important;
    color: #fff;
}

.bg-blue p {
    animation: float 1s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }
}

.navbar {
    background-color: #fff !important;
    border-top-left-radius: 70px;
    z-index: 1000;
}

.hero-main {
    position: relative;

    height: 90vh;
}

.hero-section {
    background-image: url('../images/hero-img-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    inset: 0;
    padding-top: 100px;
}

.bg-opac {
    background-color: #0f2239d4;
    height: 90vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.hero-section h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.text-yellow {
    color: #f9cb02;
}

.text-blue {
    color: #1b4b9e;
}

.btn-primary {
    background-color: #1b4b9e;
    border: #1b4b9e;
}

.ls-1 {
    letter-spacing: 1px;
}

.hero-img {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 20px solid #fff;
    box-shadow: -30px 15px 50px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 2;
}

.hero-shape {
    position: absolute;
}

.hero-section .shape12 {
    top: 296px;
    right: 355px;
    z-index: 9;
}

.hero-section .shape1 {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.hero-section .shape1 img {
    height: 100%;
}

.hero-section .shape2 {
    top: 80px;
    right: 500px;
    z-index: 2;
}

.hero-section .shape3 {
    top: 150px;
    right: 30px;
    z-index: 2;
}

.hero-section .shape4 {
    top: 400px;
    right: 550px;
    z-index: 2;
}

.hero-section .shape5 {
    top: 450px;
    right: 30px;
    z-index: 2;
}


.card {
    border-radius: 20px;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    border: none;
}

.hero-shape .card {
    width: 300px;
}

.hero-shape .card:hover {
    box-shadow: inset 3px 3px 6px #a5a8b0, inset -3px -3px 6px #fff;
    transform: translateY(-10px);
    background-color: #f1f5f8 !important;
}

.head-2 {
    font-size: 40px;
    font-weight: 600;
}

.shape-9 {
    position: absolute;
    bottom: 50px;
    left: -50px;
    z-index: 2;
    animation: jumpReverseAni 7s linear infinite;
}

.shape-10 {
    position: absolute;
    bottom: 200px;
    left: 200px;
    z-index: 2;
    animation: jumpAni 7s linear infinite;
}

.fixed-icon {
    position: fixed;
    z-index: 2;
    bottom: 50px;
    right: 50px;
}

@keyframes jumpAni {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.ani-1 {
    animation: moveAni 3s linear infinite;
}

@keyframes moveAni {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.section-2 .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .owl-carousel .item img {
    width: 100px;
    margin: 0px 20px;
}

.section-2 .owl-carousel .item .img-lg {
    width: 150px;
}

.section-3 {
    position: relative;
}

.section-3 .shape-mockup {
    position: absolute;
    z-index: -1;
}

.section-3 .shape-mockup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-3 .card {
    border-radius: 10px;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.section-3 .card .btn{
    width: -webkit-fill-available
}
.course-img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(360deg, #FACC15 0%, #213D6C 100%);

}
.card-img-top {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.section-4 {
    background-image: url('../images/alumni_bg.webp');
    background-size: cover;
    background-position: center;
}

.section-4 .card {
    height: 300px;
}

.section-4 .shape-6 {
    bottom: -100px;
    right: 0;
}

.section-4 .shape-7 {
    bottom: -80px;
    right: 0;
}

.section-5 img {
    opacity: 0.5;
}

.section-5 img:hover {
    opacity: 1;
}

.m-view {
    display: none;
}

.section-6 .card {
    overflow: hidden;
    border-radius: 10px;
}

.section-6 {
    position: relative;
}

.shape-8 {
    position: absolute;
    top: -150px;
    left: -100px;
    z-index: 2;
    animation: jumpReverseAni 7s linear infinite;
}


@keyframes jumpReverseAni {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.section-6 .card .card-body {
    opacity: 0;
    visibility: hidden;
    height: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    padding: 0;
}

.section-6 .card:hover .card-body,
.mentor-card-1.active-1 .card-body,
.mentor-card-2.active-2 .card-body {
    height: fit-content;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    padding: 1rem 1rem;
}

.btn-mentor {
    opacity: 0;
    visibility: hidden;
    height: 0;
    right: 20px;
    top: 200px;
    z-index: 2;
}

.section-6 .card:hover .btn-mentor,
.mentor-card-1.active-1 .btn-mentor,
.mentor-card-2.active-2 .btn-mentor {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.mentor-card-img {
    height: 230px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.mentor-card-img img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.section-7 {
    background-image: url('../images/testi_bg_1-2.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

.testi-box {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 10px 15px 0 rgb(208 219 233 / .3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.testi-box .testi-box-bg-shape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.testi-box_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

.testi-box_img {
    min-width: 120px;
}

.testi-box_img img {
    border-radius: 10px;
}

.testi-box_text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
}

.testi-box_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #DAE5F0;
}

.testi-box_name {
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: -.24em;
    font-weight: 600;
}

.testi-box_desig {
    color: #1b4b9e;
    margin-bottom: -.45em;
    display: block;
}

.testi-box_review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3px;
}

.testi-box_review i {
    font-size: 14px;
    color: #1b4b9e;
}

.blog-card-img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

#price .card {
    height: 620px;
}

#price .card h5 {
    background-color: #eccd04;
    color: #000;
    padding: 5px 20px;
    border-radius: 20px;
}

.section-8 img:hover .blog-card-img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.faq-filters {
    display: flex;
    flex-direction: row;
}

.faq-filters button {
    margin: 5px 5px;
    padding: 5px 10px;
    background: linear-gradient(to right, #003366, #1d51bf);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    background-color: #1b4b9e;
    color: #fff;
}

footer h5 {
    width: fit-content;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 3px solid #eccd04;
}

footer ul li {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: #eccd04;
}

footer a i {
    font-size: 20\5px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

footer a i:hover {
    color: #eccd04;
}

/* PDP */
.pdp-main {
    position: relative;
    height: 60vh;
}

.pdp-hero-section {
    background-image: url('../images/hero-img-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    inset: 0;
}

.pdp-bg-opac {
    background-color: #0f2239dd;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.pdp-shape {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pdp-hero-section h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.video-domain {
    margin-top: 50px;
    border: 20px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.video-domain iframe {
    width: 100%;
    border-radius: 20px;
}

.nav-tabs .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f3F7FB;
    padding: 20px 20px;
    color: #4D5765;
    width: 100%;
    text-align: center;
    border-top: 5px solid #fff0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    color: #1b4b9e;
}

.nav-tabs .nav-link.active {
    background: #fff0;
    border-top: 5px solid #1b4b9e;
}

.vertical-tab .nav-pills .nav-link {
    background-color: #e9e9e9 !important;
    color: #4D5765 !important;
    padding: 20px 20px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
}

.vertical-tab .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1b4b9e !important;
}

.vertical-tab .nav-pills .nav-link.active,
.vertical-tab .nav-pills .nav-link.active>.items-center .text-dark-blue {
    color: #fff !important;
}

.price {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.owl-nav {
    text-align: end;
}

.owl-carousel button.owl-dot {
    display: none;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    border-radius: 10px;
    background: #F3F7FB;
    box-shadow: none;
    color: #1b4b9e;
    padding: 0px 15px;
    font-size: 40px;
    margin: 0px 10px;
}

/* about */
.bg-vision {
    background-color: #c3d7fc;
}

.bg-mission {
    background-color: #fcf4c3;
}

.shape-11 {
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.blog-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

/* contact */
.contact-section {
    background-color: #1b4b9e;
    color: #fff;
}

.contact-right-section img {
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
}

.contact-section-2 {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.contact-section-2::before {
    background-color: #1b4b9e;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    margin-top: -5px;
}

/* plp */
.plp-section1 {
    background-image: url('../images/plp-image.webp');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.mentor-plp .card {
    width: 35%;
}

.mentor-plp .tab-content {
    width: 65%;
}

.mentor-plp .card button {
    width: 100%;
}

.mentor-plp-img {
    width: 15%;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.mentor-plp-img-2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

/* responsive */
@media screen and (max-width: 600px) {
    .hero-main {
        height: 100vh;
    }

    .hero-section {
        height: 100vh;
    }

    .bg-opac {
        height: 100vh;
    }

    .hero-section h1 {
        font-size: 30px;
        padding-top: 30px;
    }

    .section-4 .card {
        height: fit-content;
    }

    .testi-box_content {
        display: block;
    }

    .section-5 img {
        opacity: 1;
    }

    .d-view {
        display: none;
    }

    .m-view {
        display: block;
    }

    .head-2 {
        font-size: 25px;
    }

    .pt-5 {
        padding-top: 20px !important;
    }

    .pb-5 {
        padding-bottom: 20px !important;
    }

    .pdp-main {
        height: 110vh;
    }

    .pdp-hero-section {
        height: 110vh;
    }

    .pdp-bg-opac {
        height: 110vh;
    }

    .pdp-hero-section h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .vertical-tab .nav-pills {
        overflow-x: scroll;
        flex-direction: row !important;
        flex-wrap: nowrap;
    }

    .vertical-tab {
        display: block !important;
    }

    #price .card {
        height: fit-content;
    }

    .blog-card-img {
        height: 200px;
    }

    .team-img {
        position: relative;
    }

    .team-img img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-top: 10px;
    }

    .contact-section-2 {
        height: fit-content;
        margin-top: 30px;
    }

    .contact-section-2::before {
        height: 0px;
    }

    .faq-filters {
        display: flex;
        flex-direction: column;
    }

    .section-3 .card img {
        height: 200px !important;
    }

    .mentor-card-img {
        height: 300px;
    }

    .hero-img {
        width: 350px;
        height: 350px;
    }

    .plp-section1 {
        background-position: initial;
    }

    .mentor-plp-img-2 {
        width: 100px;
        height: 100px;
    }

    .mentor-plp .vertical-tab {
        display: block !important;
    }

    .mentor-plp .card {
        width: 100%;
    }

    .mentor-plp .tab-content {
        width: 100%;
    }

    .mentor-plp-img {
        display: none;
    }

    .hero-section .shape12 {
        top: 65%;
        right: 0px;
        z-index: 9;
        left: 39%;
    }
}

/* responsive */
@media screen and (max-width: 380px) {
    .hero-main {
        height: 130vh;
    }

    .hero-section {
        height: 130vh;
    }

    .bg-opac {
        height: 130vh;
    }

    .hero-section h1 {
        font-size: 30px;
        padding-top: 30px;
    }

    .section-4 .card {
        height: fit-content;
    }

    .testi-box_content {
        display: block;
    }

    .section-5 img {
        opacity: 1;
    }

    .d-view {
        display: none;
    }

    .m-view {
        display: block;
    }

    .head-2 {
        font-size: 25px;
    }

    .pt-5 {
        padding-top: 20px !important;
    }

    .pb-5 {
        padding-bottom: 20px !important;
    }

    .pdp-main {
        height: 110vh;
    }

    .pdp-hero-section {
        height: 110vh;
    }

    .pdp-bg-opac {
        height: 110vh;
    }

    .pdp-hero-section h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .vertical-tab .nav-pills {
        overflow-x: scroll;
        flex-direction: row !important;
        flex-wrap: nowrap;
    }

    .vertical-tab {
        display: block !important;
    }

    #price .card {
        height: fit-content;
    }

    .blog-card-img {
        height: 200px;
    }

    .team-img {
        position: relative;
    }

    .team-img img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-top: 10px;
    }

    .contact-section-2 {
        height: fit-content;
        margin-top: 30px;
    }

    .contact-section-2::before {
        height: 0px;
    }

    .faq-filters {
        display: flex;
        flex-direction: column;
    }

    .section-3 .card img {
        height: 200px !important;
    }

    .mentor-card-img {
        height: 300px;
    }

    .hero-img {
        width: 350px;
        height: 350px;
    }

    .plp-section1 {
        background-position: initial;
    }

    .mentor-plp .vertical-tab {
        display: block !important;
    }

    .mentor-plp .card {
        width: 100%;
    }

    .mentor-plp .tab-content {
        width: 100%;
    }

    .mentor-plp-img {
        display: none;
    }

    .hero-section .shape12 {
        top: 65%;
        right: 0px;
        z-index: 9;
        left: 39%;
    }
}

@media (min-width: 1500px) and (max-width: 1920px) {
    .hero-section .shape12 {
    top: 296px;
    right: 30.5%;
    }
}