.list-heading {
    font-weight: bold;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;

}

.center-img {
    display: block;
    margin: 0 auto;
}

h1,
h2,
h3 {
    background: linear-gradient(90deg, rgba(2, 30, 166, 1) 37%, rgba(61, 162, 187, 1) 100%);
    color: #fff;
    font-size: 20px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
h1,
h2{
    font-size: 30px;
}
.container {
    text-align: justify;

}

.linkText {
    text-decoration: none;
}

.privacy-header {
    background-image: url('background-image.jpg');
    background-color: #f0f0f0;
    /* fallback color if image fails to load */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 30px 0;
    /* adjust padding as needed */
}